<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet" href="style.css">
		<script async src="code.js"></script>
		<title>Wordclock WLAN Verwaltung</title>
	</head>
	<body>
		<div id="app">
			<div id="app-wrap">
				<div id="wifi">
					<header>
						<h1>WLAN Verwaltung</h1>
					</header>
					<div id="wifi-status">
						<h2>Verbunden mit:</h2>
						<section id="connected-to">
							<div class="ape"><div class="w0"><div class="pw"><span></span></div></div></div>
						</section>
					</div>
					<h2>Manuelle Eingabe</h2>
					<section id="manual_add">
					<div class="ape">SSID hinzuf&uuml;gen<div>
					</section>
					<h2>Verf&uuml;gbare Netzwerke</h2>
					<section id="wifi-list">
					</section>
					<a href="settings.html">Allgemeine Einstellungen</a>
				</div>
				<div id="connect_manual">
					<header>
						<h1>Details eingeben</h1>
					</header>
					<h2>Manuelle Verbindung</span></h2>
					<section>
						<input id="manual_ssid" type="text" placeholder="SSID" value="">
						<input id="manual_pwd" type="password" placeholder="Password" value="">
					</section>
					<div class="buttons">
							<input id="manual_togglepwd" class="big-button" type="button" value="Show password" /><br>
							<input id="manual_join" type="button" value="Join" data-connect="manual" />
							<input id="manual_cancel" type="button" value="Cancel"/>
					</div>
				</div>
				<div id="connect">
					<header>
						<h1>Passworteingabe</h1>
					</header>
					<h2>Passwort f&uuml;r <span id="ssid-pwd"></span></h2>
					<section>
						<input id="pwd" type="password" placeholder="Password" value="">
					</section>
					<div class="buttons">
							<input id="togglepwd" class="big-button" type="button" value="Show password" /><br>
							<input id="join" type="button" value="Join" />
							<input id="cancel" type="button" value="Cancel"/>
					</div>
				</div>
				<div id="connect-wait">
					<header>
						<h1>Bitte warten...</h1>
					</header>
					<h2>Verbinde zu <span id="ssid-wait"></span></h2>
					<section>
						<div id="loading">
							<div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>
							<p class="tctr">You may lose wifi access while the esp32 recalibrates its radio. Please wait until your device automatically reconnects. This can take up to 30s.</p>
						</div>
						<div id="connect-success">
							<h3 class="gr">Verbunden</h3>
						</div>
						<div id="connect-fail">
							<h3 class="rd">Verbindung fehlgeschlagen</h3>
							<p class="tctr">Please double-check wifi password if any and make sure the access point has good signal.</p>
						</div>
					</section>
					<div class="buttons">
						<input id="ok-connect" type="button" value="OK" class="ctr" />
					</div>
				</div>
				<div id="connect-details">
					<div id="connect-details-wrap">
						<header>
							<h1></h1>
						</header>
						<h2></h2>
						<section>
							<div class="buttons">
								<input id="disconnect" type="button" value="Disconnect" class="ctr"/>
							</div>
						</section>
						<h2>IP Adresse</h2>
						<section>
							<div class="ape brdb">IP Adresse:<div id="ip" class="fr"></div></div>
							<div class="ape brdb">Subnetzmaske:<div id="netmask" class="fr"></div></div>
							<div class="ape">Standardgateway:<div id="gw" class="fr"></div></div>
						</section>
						<div class="buttons">
							<input id="ok-details" type="button" value="OK" class="ctr" />
						</div>
					</div>					
					<div id="diag-disconnect" class="diag-box">
						<div class="diag-box-win">
							<p>Sicher?</p>
							<div class="buttons">
								<input id="no-disconnect" type="button" value="Nein" />
								<input id="yes-disconnect" type="button" value="Ja" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
<html>
